
.page__componentes {
  color: white;

  .components {
    display: flex;
    justify-content: space-around;
    color: $light;
    flex-wrap: wrap;
  }
  
  .components__person {
    width: 18rem;
    border: 5px solid $greenBand;
    margin: 3%;
    padding: 3%;
  }

  .page__componentes--title {
    margin: 1%;
  }
}
