@use "sass:color";

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-serif: 'Roboto', sans-serif;


$icon-color: #278166;
$light: #cdadf1;
$darkblack: black;
$greenBand: rgba(rgb(129, 247, 129), .7);

$theme-colors: (
 "primary": #fabada, 
 "success": #cdadf1,
 "light": $light,
 "secondary":  gray,
 "info":       aqua,
 "warning":    yellow,
 "danger":     red,
 "dark":       black
);

$btn-border-radius: 90px;

$navbar-light-active-color:         rgba(black, .9);
$navbar-light-hover-color:          $greenBand;
$navbar-toggler-font-size:          3rem;
$navbar-light-active-color:         $greenBand;


$transition-collapse:         height .80s ease;